.HomeMain {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #816797;
}

.img1 {
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .img1 {
    width: 100%;
    height: auto;
  }
}
.TitleText {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d6d5a8;
}

.SubTitleText {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d6d5a8;
}
