.ContactPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d6d5a8;
  background-color: #816797;
  margin: 2;
  padding: 2;
}

.ContactPic {
  display: flex;
  flex: 1;
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .ContactPic {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
  }
}
.ContactMe_info {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.ContactMainTitle {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ContactByMethod {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d6d5a8;
}

.ContactInfo {
  font-size: medium;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d6d5a8;
}
