.NavBarStyles {
  background-color: #51557e;
}

.navflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_linkss {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: bold;
  margin-left: 1rem;
  padding: 0.5rem;
}
